@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Tajawal:wght@400;500;700;800&display=swap');

html, body, #root { height: 100%; }
body { @apply font-sans text-primary bg-white; }

.btn-primary { @apply inline-flex items-center justify-center px-6 py-3 rounded-full bg-secondary text-white font-medium hover:opacity-90 transition; }
.btn-outline { @apply inline-flex items-center justify-center px-6 py-3 rounded-full border border-secondary text-secondary hover:bg-secondary hover:text-white transition; }
.section { @apply py-16 md:py-24; }
.section-title { @apply text-3xl md:text-4xl font-extrabold mb-6 ; }
.section-sub { @apply text-grayDark max-w-2xl; }

.card { @apply bg-white rounded-2xl shadow-soft p-6; }
/*In global.css */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* .animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
} 

 .animate-scroll:hover {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}  */

.image{
  width: 300px !important;
  border-radius: 10px !important;
height: 200px !important;
}


.primarycolor{
  color: #1f0433 !important;
}
.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;   /* limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
